<div id="navigation" class="navigation">
	<div class="item">
		<div class="header"><a href="<%=admin_articles_path%>">Статьи</a></div>
		<div class="contents">
			<a href="<%=new_admin_article_path %>" class="to-form big">Добавить...</a>
			<div>Всего статей на сайте: <%= @articles[:total] %></div>
		</div>
	</div>
</div> 