.list
  .new.item
    = render :partial => 'layout_item', :locals => {:item => @layout_item}
  
  - for item in @layout_items
    .item
      = render :partial => 'layout_item', :locals => {:item => item}
      = link_to 'Удалить', admin_layout_item_path(item), :class => 'control', :method => :delete    
      
      
%table
  - LayoutItem.grid.each do |row|
    %tr
      - row.each do |cell|
        %td(style="border: 1px solid #ccc")
          = cell