<!-- Copyright (c) 2007 [Sur http://expressica.com] -->
<style type="text/CSS">
    
#simple_captcha img{
    vertical-align: bottom;
}
</style>

    <div id='simple_captcha'>
    <%= @simple_captcha_options[:image] %>
  
    <%= @simple_captcha_options[:field] %>
  
</div>
