*
  :padding 0
  :margin 0
  :list-style none
  :box-sizing border-box
  :-moz-box-sizing border-box

table 
  :border-collapse collapse
  :border-spacing 0
  :width 100%

td 
  :vertical-align top


html 
  :width 100%
   
body
  :margin auto
  :max-width  1000px
  :background-color  #fff
  :color  #333
  :padding  3px
  
  :font
    :family verdana, arial, helvetica, sans-serif
    :size 13px
  :line-height 180%

!step = 0.75
!size1 = 30px
!size2 = !size1*!step
!size3 = !size2*!step
!size4 = !size3*!step
#page-header 
  td.title
    :padding 4px 0
    :font
      :size #{!size1}
      :weight normal
    :color #666
    a
      :text-decoration none
    a:hover
      :color #000 !important
    a.title
      :color #D10000
    a.subtitle
      :color #555
    
  .breadcrumbs 
    :width auto
    td 
      :padding 0 2px 2px
    .link 
      :font-size 13px
      &.first 
        :font-weight bold
    .separator 
      :font-size 13px

#page-navigation
  :margin 8px 0 0
  :font-size #{!size2}
  :padding 1px
  a, span
    :padding 0 2px
    :border 1px solid #fff 
  a:hover
    :background #eee
    :border-color #ccc
  span
    :background #eee
    :border-color #ccc
    

#main
  :padding-top 8px
  .item
    :padding-left 8px
    :margin-bottom 8px
    .header
      :color #444
      :font
        :size #{!size3}
        :weight bold
    .contents
      :padding-left 6px
      a
        :font-size #{!size4}
        :padding 1px
        :border 1px solid #fff
        &:hover
          :background #eee
          :border-color #ccc
          

.textile-editor
  .images, .editor
    :border  1px solid #999 
  