* 
  :padding 0
  :margin 0

table 
  :border-collapse collapse

img 
  :border none

td 
  :vertical-align top

html 
  :width 100%
  :background #fff
  
body 
  :font-family Arial, Helvetica, sans-serif
  :line-height 1.4
  :min-width 760px
  :max-width 1200px
  :margin 0 auto
  :padding-bottom 30px

!pg_red = #bf2215
!small = 12px
!normal = 14px
!big = 16px
!menu = 16px
#container
  :padding 0 16px

#header 
  :margin-top 4px
  
#top-navigation
  :width 100%
  :border-top solid 3px #fff
  :background #fff
  :margin 0px -3px 8px 
  :font-family Cambria, Times New Roman
  td
    :text-align left
    :font-size #{!menu}
    :font-weight bold
    :vertical-align top
    :padding 4px 3px
    a
      :text-decoration none
      :color #{!pg_red}
      &:hover
        :color #666
      &:before, &:after
        :color #fff
    .current
      :color #000
      &:before, &:after
        :color #{!pg_red}
    
    a, .current
      &:before, &:after
        :font-size #{!menu+3px}
        :line-height 0
      &:before
        :content "["
        :padding-right 1px
      &:after
        :content "]" 
        :padding-left 1px
    

a 
  color: #{!pg_red} 


.pagination
  :text-align center

table#content 
  :width 100%



#content
  :width 60%
  
#sidebar
  :width 40%
  :padding-left 16px
  

h2
  :font-weight bold
  :line-height 1.2
  :font-size #{!big}
  :color #{!pg_red}
  a  
    :text-decoration none
    
.subtitle
  :color #333 
  :font-size #{!big}
  :text-decoration none
  :font-weight bold
  :line-height 1.2
  
.date, .category
  :display inline
  :font-size #{!normal}
  :font-weight bold
  :color #C47B66
.category
  :font-weight bold
  :color #666
  :font-size #{!small}
h3  
  :color #222 
  :font-size #{!big}


.article_with_lead 
  :margin-bottom 16px
  h2 
    a:hover 
      :text-decoration underline
  p 
    :font-size #{!normal}
    
  img
    :display block
    :width 100%
    :text-align center
    :margin 2px auto

  

p 
  :font-size #{!normal}
  :margin-bottom 16px

p.signature
  :text-align right
  :font-weight bold
  :color #222
  :clear both
  
p.verses 
  :padding-left 15px
  :text-align left


p.image_list 
  :clear both
  :padding-top 12px
  
p.quote 
  :text-align right
  :font-style italic

p.list 
  :margin-left 25px
  :text-indent 0
  :clear both

p img
  :display block
  :text-align center
  :margin 0 auto

p.caption
  :font-style italic
  :margin 0
  :text-align center

p.question
  :font-weight bold

img.left
  :float left
  :padding-right 4px
  :width auto

img.right
  :float right
  :padding-left 4px
  :width auto


