* 
  :padding 0
  :margin 0

table 
  :border-collapse collapse

img 
  :border none

td 
  :vertical-align top

html 
  :width 100%
  
body 
  :font-family Arial, "MS Trebuchet", sans-serif
  :line-height 1.4
  :min-width 760px
  :max-width 1200px
  :margin 0 auto

!pg_red = #bf2215
!small = 12px
!normal = 14px
!big = 16px
#container
  :padding 0 8px

#header 
  :margin-top 4px
  
#top-navigation
  :width 100%
  td
    :text-align center
    a
      :text-decoration none
      :color #{!pg_red}
      :font-size #{!normal}


a 
  color: #{!pg_red} 


.pagination
  :text-align center

table#content 
  :width 100%



#content
  :width 60%
  :padding-right 8px
#sidebar
  :width 40%
  

h2
  a  
    :color #{!pg_red}
    :font-size #{!big}
    :text-decoration none
    :font-weight bold
    :line-height 1.2
    
    
.subtitle
  :color #333 
  :font-size #{!big}
  :text-decoration none
  :font-weight bold
  :line-height 1.2
  
.date, .category
  :display inline
  :font-size #{!small}

h3  
  :color #222 
  :font-size #{!big}


.article_with_lead 
  :margin 20px 0
  h2 
    a:hover 
      :text-decoration underline
  .subtitle
    :color #222
    :font-size #{!big}
  p 
    :font-size #{!normal}

  
.full_article 
  h2 .subtitle
    :color #222
    :line-height 20px
    :font-size 17px
    :font-weight bold
  p 
    :line-height 20px
    :font-size 16px
    :margin-bottom 16px

p.signature
  :text-align right
  :font-weight bold
  :color #222
  :clear both
  
p.verses 
  :padding-left 15px
  :text-align left


p.image_list 
  :clear both
  :padding-top 12px
  
p.quote 
  :text-align right
  :font-style italic

p.list 
  :margin-left 25px
  :text-indent 0
  :clear both

p img
  :display block
  :text-align center
  :margin 0 auto

p.caption
  :font-style italic
  :margin 0
  :text-align center

p.question
  :font-weight bold

img.left
  :float left
  :padding-right 4px

img.right
  :float right
  :padding-left 4px


