* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td {
  vertical-align: top; }

html {
  width: 100%; }

body {
  margin: auto;
  max-width: 1000px;
  background-color: #fff;
  color: #333;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 180%; }

#page-header td.title {
  font-size: 30px;
  font-weight: bold;
  color: #666; }
  #page-header td.title a {
    text-decoration: none; }
  #page-header td.title a:hover {
    color: #000 !important; }
  #page-header td.title a.title {
    color: #D10000; }
  #page-header td.title a.subtitle {
    color: #555; }
#page-header .breadcrumbs {
  width: auto; }
  #page-header .breadcrumbs td {
    padding: 0 2px 2px; }
  #page-header .breadcrumbs .link {
    font-size: 13px; }
    #page-header .breadcrumbs .link.first {
      font-weight: bold; }
  #page-header .breadcrumbs .separator {
    font-size: 13px; }

#main {
  padding-top: 8px; }
  #main .item {
    padding-left: 8px;
    margin-bottom: 8px; }
    #main .item .header {
      color: #444;
      font-size: 21px;
      font-weight: bold; }
    #main .item .contents {
      padding-left: 6px; }
      #main .item .contents a {
        font-size: 14.7px;
        padding: 1px;
        border: 1px solid #fff; }
        #main .item .contents a:hover {
          background: #eee;
          border-color: #ccc; }

.textile-editor .images, .textile-editor .editor {
  border: 1px solid #999; }
