* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td {
  vertical-align: top; }

td.last {
  width: 100%; }

html {
  width: 100%; }

body {
  margin: auto;
  max-width: 1000px;
  background-color: #fff;
  color: #333;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12.656px;
  line-height: 1.2; }

#page-header td.title {
  padding: 0 4px;
  margin: 0.25em 0;
  font-size: 22.5px;
  font-weight: normal;
  color: #666; }
  #page-header td.title a {
    text-decoration: none; }
  #page-header td.title a:hover {
    color: #000 !important; }
  #page-header td.title a.title {
    color: #D10000; }
  #page-header td.title a.subtitle {
    color: #555; }

.page-navigation {
  margin: 0.25em 0;
  color: #666;
  font-size: 16.875px;
  line-height: 1.6; }
  .page-navigation a, .page-navigation span {
    padding: 1px 4px;
    border: 1px solid #fff; }
  .page-navigation a:hover, .page-navigation a:focus, .page-navigation span {
    background-color: #eee;
    border-color: #ccc;
    color: #000;
    outline: none; }
  .page-navigation a:active {
    border-color: #000;
    outline: none; }

a, a:visited {
  color: inherit; }
  a:hover, a:visited:hover {
    color: #000; }

a.control {
  padding: 1px;
  line-height: 1.6;
  border: 1px solid #fff; }
  a.control:hover, a.control:focus {
    background-color: #eee;
    border-color: #ccc;
    outline: none; }
  a.control:active {
    border-color: #000;
    outline: none; }

#main .item {
  padding-left: 8px;
  margin: 0.25em 0; }
  #main .item .header {
    color: #444;
    font-size: 16.875px;
    font-weight: bold; }
  #main .item .contents {
    padding-left: 6px; }
    #main .item .contents a {
      font-size: 12.656px; }

.list {
  padding-left: 4px; }
  .list .item {
    margin: 0.25em 0;
    padding: 2px;
    border: 1px solid #fff; }
    .list .item:hover {
      border: 1px solid #ccc; }
    .list .item.new {
      font-weight: bold; }
    .list .item.new:hover {
      border: 1px solid #fff; }
    .list .item td.header {
      width: 70%; }
    .list .item td.controls {
      width: 30%; }
    .list .item td.thumb {
      padding-right: 4px; }
    .list .item .title {
      font-weight: bold; }

form.full {
  margin: 0.25em 0;
  padding-left: 4px; }
  form.full .field {
    margin: 0.5em 0;
    font-size: 12.656px; }
    form.full .field .formError {
      color: red; }
    form.full .field label {
      display: block; }
    form.full .field input, form.full .field textarea {
      width: 100%;
      padding: 2px;
      background-color: #fff; }
      form.full .field input:focus, form.full .field textarea:focus {
        border: 1px inset #999;
        background-color: #f8f8f8; }
    form.full .field textarea {
      border: 1px solid #fff;
      font-family: inherit;
      font-size: 12.656px; }
    form.full .field input {
      border: 1px solid #999;
      font-size: 16.875px; }
    form.full .field input[type="submit"] {
      padding: 2px 12px;
      width: auto;
      font-size: 16.875px; }
      form.full .field input[type="submit"]:hover {
        color: #fff;
        background-color: #666; }
      form.full .field input[type="submit"]:active {
        color: #000;
        background-color: #f8f8f8;
        border: 1px inset #999; }

.textile-editor .images, .textile-editor .editor {
  border: 1px solid #999; }
.textile-editor .textile-toolbar {
  background-color: #f0f0ee;
  padding: 3px; }
  .textile-editor .textile-toolbar button {
    margin: 0;
    background-color: #f0f0ee;
    border: 1px solid #f0f0ee;
    padding: 2px 0; }
    .textile-editor .textile-toolbar button:hover, .textile-editor .textile-toolbar button.unselected:hover {
      border: 1px solid #999; }
    .textile-editor .textile-toolbar button.selected {
      border: 1px solid #ce9100;
      background-color: #ffffff; }
    .textile-editor .textile-toolbar button.unselected {
      border: 1px solid #f0f0ee;
      background-color: #f0f0ee; }
    .textile-editor .textile-toolbar button img {
      vertical-align: text-bottom; }
