* { /* Padding reset */
	padding:0;
	margin:0;
	list-style : none;
}


table {
	border-spacing:0; /*cellspacing=0*/
	border-collapse:collapse;
}

tr {height: 100%; }
td {padding:3px 6px; line-height: 20px; margin:5px; vertical-align: top;}
table.list tr:hover td { background-color: #DDD;}

table.list {padding-left:15px; margin: 4px;}

html { width: 100%; }
body { margin:auto; max-width:1000px; background-color: #fff; color: #333; padding:3px;}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

div.flash { color:#3C6749; margin: 5px 0 -20px; height:20px; padding:0 6px; text-align:right; font-size:15px; }

.breadcrumbs { padding: 3px;}
.breadcrumbs .current { font-size: 15px; font-weight: bold;}


.navigation .item .header, .navigation .item .header a { font: bold 30px/40px sans-serif; color: #000; }
.navigation .item .contents { border-left: 2px solid #999; margin-left: 4px; padding: 3px;}

li { padding-left: 15px; margin: 5px 0;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 { font-size:180%; margin: 20px 3px 15px;}

ul h3 { margin:0; font-size:110%;}

a, a:visited { color: #666; }
a:hover { color: #000;}

.big { font-size: 120%;  }

a.action {  color: #eee; padding: 3px 6px;}
td.action { padding: 0; height:100%; vertical-align: middle;}
table.list tr:hover td.action:hover, a.action:hover { background: #333; }

a.back, a.new { margin:6px; font-size:110%; }

a.to_site {color:#001962;}
a.to_site:hover  { color:#000; }

.canonical { font-style: italic; }

.formError {
  color:red;
}

#errorExplanation {
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  padding:2px;
	margin-left:15px;
}

option {padding:2px;}

form { padding: 3px;}
form p { margin: 5px 0; }
input { padding: 2px; font-size:105%; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
textarea {font: inherit; width: 100%;  padding: 2px; box-sizing: border-box; -moz-box-sizing: border-box;}
input[type="submit"] { width: 100px; margin:3px; }