#overlay-container {
	z-index: 10000;
	
	position: fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; vertical-align:middle;
}

#overlay-container table {
  z-index: 100001;
  position: static;
  margin: auto;
  max-width: 1000px;
  height: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}


#overlay-container table td {
  opacity: 0.3; 
  background-color:#000000;
}





#page-header { background: #FFF;}






.panel { width: 100%; padding:2px;}

.breadcrumbs .current, .panel {  background: #F0F0EE; }
form.full-page { border-top: 4px solid #F0F0EE; margin-top:0px;  }


.navigation .item .header, .navigation .item .header a { font: bold 30px/40px sans-serif; color: #000; }
.navigation .item .contents { border-left: 2px solid #999; margin-left: 4px; padding: 3px;}

.list .item { margin:4px 0; padding: 2px;}

.list .item .controls { padding: 2px; text-align: right; min-width: 30%;}
.list .item:hover {background: #eee;}
.list .no-items { margin: 8px; font: italic normal 15px/18px sans-serif;}
 
.hovershow-container .controls a {display: none;} 
.hovershow-container:hover .controls a {display: inline;} 

.article .title { font: bold 15px/18px sans-serif; color: #000;}
.article .subtitle { font: normal 13px/14px sans-serif; }




li { padding-left: 15px; margin: 5px 0;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


a, a:visited { color:inherit; }
a:hover { color: #000;}

a.new { font-weight: bold;  }




a.to_site { color:#001962; }
a.to_site:hover  { color:#000; }

.canonical { font-style: italic; }


.formError {
  color:red;
}

div.formError { 
  padding: 0 1px 2px;
  font-size: 13px;
  line-height: 14px; 
}

option {padding:2px;}

form { margin: 3px;}

form .field { margin: 8px 0; }

.field label {
  display: block;
  padding: 0 1px 2px;
  font-size: 13px;
  line-height: 13px;
}
.field input, .field textarea {
  width: 100%; 
  border: 1px solid #999;
  background: #fff;

  
}
.field textarea {
  border: 1px solid #fff;
/*  border-style: none/hidden/dotted/dashed/solid/double/groove/ridge/inset/outset;*/
}

.field input[type="text"]:focus, .field textarea:focus { border: 1px inset #999; background: #f8f8f8;  }

.field input {
  padding: 2px; 
  font-size: 14px; 
}

textarea {font: inherit; padding: 2px; }


input[type="submit"] { 
  
  padding: 2px 12px; 
  width: auto;
}

input[type="submit"]:hover { 
  color: #fff;
  background: #666;
}

input[type="submit"]:active { 
  color: #000;
  background: #f8f8f8;
  border: 1px inset #999;
}