* { padding:0; margin:0;}
table {
	border-spacing:0; /*cellspacing=0*/
	border-collapse:collapse;
}

img { border: none; }

td { vertical-align: top;}

html { 
	padding-top: 15px; 
	background-image: url('/images/logo-back.png');
	background-repeat: no-repeat;
	background-position: top center;
}

body {
	
}

#header {}

#container {
	border: 0px solid #999;
	width:1000px;
	margin:0 auto;
	
}

table#content {
	width:100%;
}
td#sidebar {
	border:0px solid gray;
	width:30%;
	padding:4px;
}

td#content {
	border: 0px solid #999;
	width:100%;
	padding: 0 0 0 22px;
/*	background:  url('/images/back-lines.png') repeat;*/
}



 h2, h2 a { 
	color: #bf2215; 
	line-height:20px; 
	font-size:20px;
	text-decoration: none;
} 
.article_with_lead h2 a:hover { text-decoration: underline; }
.article_with_lead h2 .subtitle { color: #333; line-height:20px; font-size:17px;}

.article_with_lead p {line-height: 20px; font-size:16px; font-family: sans-serif;}
.article_with_lead p + p { text-indent: 35px;}

.article_with_lead {margin: 20px 0;}

.full_article h2 .subtitle { color: #333; line-height:20px; font-size:17px;}

.full_article p {line-height: 20px; font-size:16px; margin-bottom: 16px;}


h2 a {}