<h1>Ссылки</h1>

<table class="list">
<% for link in @links %>
	<tr>
    <td>
				<h3><%=h link.text %></h3>
		</td>
		<td>
			<%= link.linked.class %>
		</td>
		<td>
			<%= link.linked.title unless link.linked.nil? or link.linked.title.nil? %>
		</td>
		<td class="action">
			<%= link_to 'Удалить', admin_link_path(link), :class => 'action',
						:confirm => 'Действительно удалить?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>


