#categories.list
  .new.item
    %a.control{:href=>"#{new_admin_category_path}"} Добавить
  - if @categories.empty?
    .empty.item Рубрик нет
    
  = render :partial => 'list', :locals => {:categories => @categories}
  %h3 Архив
  = render :partial => 'list', :locals => {:categories => @categories_archived}
    
