- yandex ||= false
%p    
  %b= article.subtitle_html
- lead = article.lead_html
- lead.gsub!(/<img[^>]+\>/, '') if yandex
= lead.gsub('class="left"', 'style="float: left; padding: 1em;"').gsub('class="right"', 'style="float: right; padding: 1em;"')
