
<div class="article_with_lead">
<h2>
<%= link_to article.title, article_url(article.canonical_link.text) %> 
<div class="subtitle"><%= article.subtitle unless article.subtitle.nil? %></div>
</h2>
<%= RedCloth.new(article.lead).to_html %>
</div>