%style
  :sass
    img.left
      :float left
      :padding-right 4px

    img.right
      :float right
      :padding-left 4px
      
    
    p.signature
      :text-align right
      :font-weight bold
      :clear both

    p.verses 
      :padding-left 15px
      :text-align left


    p.image_list 
      :clear both
      :padding-top 12px

    p.quote 
      :text-align right
      :font-style italic

    p.caption
      :text-align center
      :font-style italic
    
    h2
      :font-weight bold
      :line-height 1.1
      :font-size 1.2em
      :color #000
      
%h2.subtitle= article.subtitle_html
=article.lead_html