<div class="yandexform" onclick="return {type: 2, logo: 'rb', arrow: false, webopt: false, websearch: false, bg: '#FFFFFF', fg: '#000000', fontsize: 12, suggest: true, site_suggest: true, encoding: ''}">
    <form action="/search" method="get">
    <input type="hidden" name="searchid" value="159718"/>
    <input name="text"/><input type="submit" value="Найти"/>
    </form>
</div>
    <script type="text/javascript" src="http://site.yandex.net/load/form/1/form.js" charset="utf-8"></script>