<div class="full_article">
<h2>
<%= @article.current_revision.title %> 
<div class="subtitle"><%= @article.current_revision.subtitle unless @article.current_revision.subtitle.nil? %></div>
</h2>
<%= RedCloth.new(@article.current_revision.text).to_html %>
</div>