.item
  = image_tag thumb_admin_image_path(image)
  .title
    = image.title 
  = link_to_function("Вставить", "TextileEditor.insertText({canvas:$(this).parents('.textile-editor').find('textarea').get(0)}, '!img/'+'#{image.link}'+'!');" ) 
