.item
  = image_tag thumb_admin_image_path(image)
  .title
    = image.title 
  = link_to_function("Вставить", "TextileEditor.insertText({canvas:$('textarea[focused]').get(0)}, '!'+'#{image.link}'+'!');" ) 
