<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Полит-грамота</title>
		<%= stylesheet_link_tag 'site' %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<a href="/"><img  src="/images/logo-2.png" style=""/></a>
			</div>
			
			<!--div id="navigation">
				<%= link_to_unless_current("На главную", root_path)%> |
				<%= link_to_unless_current("Управление", admin_root_path) %> 
			</div-->
			
			<table id="content">
				<tr>
					<td id="content">
						<%= yield  %>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>